<% content_for :javascripts do %>
  <%= javascript_include_tag 'by_day' %>
<% end %>

<p id="balance-by-day-wait-message">Coming...</p>
<canvas id="balance-by-day" width="1300" height="700">
</canvas>
